---
- name: Print out pre_build var and dns_type
  ansible.builtin.debug:
    msg: 
      - pre_build: "{{ pre_build | default('none set') }}"
      - dns_type: "{{ dns_type | default('none set') }}"

- name: Ensure code-server container is absent (deleted)
  become_user: awx
  containers.podman.podman_container:
    name: code-server
    state: absent

- name: Setup SSL for the code-server container  
  include_tasks: "dns.yml"
  when:
    - dns_type is defined
    - dns_type != "none"

- name: setup vscode for web browser access
  include_tasks: "codeserver.yml"
