[all:vars]
{% if ssh_port is defined %}
ansible_port={{ ssh_port }}
{% endif %}

{% for number in range(1,student_total + 1) %}
[student{{ number }}]
{% for host in ansible_node_facts.instances %}
{% if 'student' ~ number == host.tags.Student %}
{{ host.tags.Name | regex_replace(ec2_name_prefix ~ '-','') }} ansible_host={{ host.public_ip_address }} ansible_user={{ host.tags.username }}
{% endif %}
{% endfor %}
{% for host in rtr1_node_facts.instances %}
{% if 'student' ~ number == host.tags.Student %}
{{ host.tags.Name | regex_replace(ec2_name_prefix ~ '-','') }} ansible_host={{ host.public_ip_address }} ansible_user={{ host.tags.username }} ansible_network_os={{ host.tags.ansible_network_os }}
{% endif %}
{% endfor %}
{% for host in rtr2_node_facts.instances %}
{% if 'student' ~ number == host.tags.Student %}
{{ host.tags.Name | regex_replace(ec2_name_prefix ~ '-','') }} ansible_host={{ host.public_ip_address }} ansible_user={{ host.tags.username }} ansible_network_os={{ host.tags.ansible_network_os }}
{% endif %}
{% endfor %}
{% for host in rtr3_node_facts.instances %}
{% if 'student' ~ number == host.tags.Student %}
{{ host.tags.Name | regex_replace(ec2_name_prefix ~ '-','') }} ansible_host={{ host.public_ip_address }} ansible_user={{ host.tags.username }} ansible_network_os={{ host.tags.ansible_network_os }}
{% endif %}
{% endfor %}
{% for host in rtr4_node_facts.instances %}
{% if 'student' ~ number == host.tags.Student %}
{{ host.tags.Name | regex_replace(ec2_name_prefix ~ '-','') }} ansible_host={{ host.public_ip_address }} ansible_user={{ host.tags.username }} ansible_network_os={{ host.tags.ansible_network_os }}
{% endif %}
{% endfor %}
{% endfor %}
