[tower]
{% for item in tower_hosts %}
{{ item }}
{% endfor %}

[database]
{{ tower_database }}

[all:vars]
admin_password='{{ tower_admin_password }}'

{% if tower_ssh_connection_vars is defined %}
{% for item in tower_ssh_connection_vars %}
{{ item.name}}='{{ item.value }}'
{% endfor %}
{% endif %}

# Define Remote PostgreSQL for Tower
pg_host='{{ tower_database }}'
pg_port='{{ tower_database_port }}'

pg_database='{{ tower_pg_database }}'
pg_username='{{ tower_pg_username }}'
pg_password='{{ tower_pg_password }}'

{% if rabbitmq_required %}

rabbitmq_username='{{ tower_rabbitmq_username }}'
rabbitmq_password='{{ tower_rabbitmq_password }}'
rabbitmq_cookie='{{ tower_rabbitmq_cookie }}'
rabbitmq_port="{{ tower_rabbitmq_port }}"
rabbitmq_vhost="{{ tower_rabbitmq_vhost }}"
rabbitmq_use_long_name="{{ tower_rabbitmq_use_long_name }}"

{% endif %}

{% if isolated_groups is defined %}

{% for item in isolated_groups %}
[isolated_group_{{ item.name }}]
{% for host in item.hostnames %}
{{ host }}
{% endfor %}
{% endfor %}

{% for item in isolated_groups %}
[isolated_group_{{ item.name }}:vars]
controller=tower
{% endfor %}

{% endif %}
