---
# directions found here https://certbot.eff.org/lets-encrypt/centosrhel8-other
- name: Download and install certbot
  get_url:
    url: https://dl.eff.org/certbot-auto
    dest: /usr/local/bin/certbot-auto
    mode: '0755'
    owner: "root"
  register: certbot_install
  until: certbot_install is not failed
  retries: 5

- name: turn off tower
  shell: ansible-tower-service stop

- name: dns for coder
  become: false
  route53:
    state: "{{ s3_state }}"
    zone: "{{workshop_dns_zone}}"
    record: "{{username}}-code.{{ec2_name_prefix|lower}}.{{workshop_dns_zone}}"
    type: A
    overwrite: true
    value: "{{ansible_host}}"
  delegate_to: localhost
  register: route53_status

- name: Download code-server 3 rpm
  get_url:
    url: https://github.com/cdr/code-server/releases/download/v3.4.1/code-server-3.4.1-amd64.rpm
    dest: /tmp/code-server.rpm
    mode: '0440'

- name: install code-server 3 rpm from local rpm
  dnf:
    name: /tmp/code-server.rpm
    state: present

- name: Apply our systemd service file (instead of RPM file)
  template:
    src: code-server.service.j2
    dest: /etc/systemd/system/code-server.service
    owner: "{{username}}"
    group: wheel
    mode: '0744'

- name: update nginx configuration to support code server
  blockinfile:
    block: "{{ lookup('template', 'nginx.conf') }}"
    dest: /etc/nginx/nginx.conf
    insertafter: "http {"

# source: https://vscode.readthedocs.io/en/latest/getstarted/settings/
- name: ensure custom facts directory exists
  file:
    path: "/home/{{username}}/.local/share/code-server/User/"
    recurse: true
    state: directory
    owner: "{{username}}"

- name: apply code server defaults
  template:
    src: settings.json
    dest: "/home/{{username}}/.local/share/code-server/User/settings.json"
    owner: "{{username}}"

- name: copy extension files to host
  copy:
    src: files/{{ item }}
    dest: /home/{{ username }}/.local/share/code-server/extensions/
    owner: "{{ username }}"
    group: "{{ username }}"
  loop:
    - bierner.markdown-preview-github-styles-0.1.6.vsix
    - hnw.vscode-auto-open-markdown-preview-0.0.4.vsix
    - vscoss.vscode-ansible-0.5.2.vsix

- name: install ansible and markdown extensions
  become_user: "{{ username }}"
  command: "/bin/code-server --install-extension /home/{{ username }}/.local/share/code-server/extensions/{{ item }}"
  loop:
    - bierner.markdown-preview-github-styles-0.1.6.vsix
    - hnw.vscode-auto-open-markdown-preview-0.0.4.vsix
    - vscoss.vscode-ansible-0.5.2.vsix
  ignore_errors: true
  register: install_extension
  until: install_extension is not failed
  retries: 5

- name: daemon-reload, enable and start code-server
  systemd:
    enabled: true
    state: started
    daemon_reload: true
    name: code-server

- name: issue cert
  shell: /usr/local/bin/certbot-auto certonly --no-bootstrap --standalone -d {{username}}-code.{{ec2_name_prefix|lower}}.{{workshop_dns_zone}} --email ansible-network@redhat.com --noninteractive --agree-tos
  register: issue_cert
  until: issue_cert is not failed
  retries: 5
  ignore_errors: true

- name: turn on tower
  shell: ansible-tower-service start
  register: install_tower
  until: install_tower is not failed
  retries: 5
