# Configuration snippets may be placed in this directory as well
includedir /etc/krb5.conf.d/

[logging]
 default = FILE:/var/log/krb5libs.log
 kdc = FILE:/var/log/krb5kdc.log
 admin_server = FILE:/var/log/kadmind.log

[libdefaults]
 dns_lookup_realm = false
 ticket_lifetime = 24h
 renew_lifetime = 7d
 forwardable = true
 rdns = false
 default_realm = {{ dns_domain_name | upper }}
 default_ccache_name = KEYRING:persistent:%{uid}

[realms]
{{ dns_domain_name | upper }} = {
 kdc = windc.{{ dns_domain_name }}:88
}

[domain_realm]
{{ dns_domain_name }} = {{ dns_domain_name | upper }}

