# Configuration snippets may be placed in this directory as well
includedir /etc/krb5.conf.d/

[logging]
 default = FILE:/var/log/krb5libs.log
 kdc = FILE:/var/log/krb5kdc.log
 admin_server = FILE:/var/log/kadmind.log

[libdefaults]
 dns_lookup_realm = false
 ticket_lifetime = 24h
 renew_lifetime = 7d
 forwardable = true
 rdns = false
 default_realm = {{ workshop_dns_zone | upper }}
 default_ccache_name = KEYRING:persistent:%{uid}

[realms]
{{ workshop_dns_zone | upper }} = {
 kdc = windc.{{ workshop_dns_zone }}:88
}

[domain_realm]
{{ workshop_dns_zone }} = {{ workshop_dns_zone | upper }}

