[tower]
localhost ansible_connection=local

[database]

[all:vars]
admin_password='{{admin_password}}'

pg_host=''
pg_port=''

pg_database='awx'
pg_username='awx'
pg_password='{{admin_password}}'
pg_sslmode='prefer'  # set to 'verify-full' for client-side enforced SSL

gpgcheck='{{ gpgcheck | default(1)}}'
aw_repo_url='{{ aw_repo_url | default("https://releases.ansible.com/ansible-tower/") }}'
ignore_preflight_errors = True
