{% set site = device[short_name].site %}

hostname {{short_name}}

router ospf 1
 network 10.{{ site }}.{{ site }}.0 0.0.0.255 area 0
 network {{ (device[short_name].ospf_tunnel_source ~ '/24') | ipaddr('network') }} 0.0.0.255 area 0
 network {{ (private_ip ~ '/16') | ipaddr('network') }} 0.0.255.255 area 0
 network 192.168.{{ site }}.0 0.0.0.255 area 0

interface Loopback0
 ip address 192.168.{{ site }}.10{{ site }} 255.255.255.0

interface Loopback1
 ip address 10.{{ site }}.{{ site }}.10{{ site }} 255.255.255.0

interface Tunnel0
 ip address {{ device[short_name].ospf_tunnel_source }} 255.255.255.0
 ip mtu 1476
 ip tcp adjust-mss 1360
 tunnel source GigabitEthernet1
 tunnel destination {{ device[short_name].ospf_tunnel_destination }}
