{% set site = device[short_name].site %}

hostname {{short_name}}

router ospf 1
 router-id 192.168.{{site}}.{{site}}
 redistribute connected

interface Loopback0
 ip address 192.168.{{ site }}.{{ site }} 255.255.255.255

interface Tunnel0
 ip mtu 1476
 ip address {{ device[short_name].ospf_tunnel_ip }} 255.255.255.0
 ip ospf network point-to-point
 ip ospf 1 area 0.0.0.0
 ip tcp adjust-mss 1360
 tunnel source GigabitEthernet1
 tunnel destination {{ device[short_name].ospf_tunnel_destination }}
