LOG_FILE={{ids_install_snort_logfile|default("snort.log")}}
SNORTDIR={{ids_install_snort_logdir|default("/var/log/snort")}}
INTERFACES={{ids_install_snort_interface|default("eth0")}}
CONF=/etc/snort/barnyard2.conf
