secrets.yml
users.yml
extra_vars.yml
*.txt
aws_rules.yml
!test-requirements.txt
!bindep.txt
*.vagrant
TODO
TODO.md
bak/
*.BAK
*.DS_Store
*.pem
instructor_inventory.txt
provisioner/tower_license.json
network_vars.yml
ansible/
*.box
*.retry
demos/servicenow/private.yml
*.html
!exercises/ansible_rhel/1.3-playbook/web.html
!exercises/ansible_rhel/1.7-role/roles/apache_vhost/files/web.html
!exercises/ansible_rhel/1.4-variables/files/dev_web.html
!exercises/ansible_rhel/1.4-variables/files/prod_web.html
demos/servicenow/closed_loop_incident_mgmt/input_vars.yaml
demos/servicenow/closed_loop_incident_mgmt/snow_demo2/snow_vars.yaml
provisioner/roles/ansible_security.ids_config/
provisioner/roles/ansible_security.ids_install/
provisioner/roles/geerlingguy.repo-epel/
.pyc
.swp
Gemfile.lock
Gemfile
_site/*
.tox/
provisioner/tests/ci-common.yml
