[defaults]
interpreter_python = auto
host_key_checking = False
inventory      = hosts
forks          = 50
retry_files_enabled = False
callback_enabled = timer, profile_tasks
[persistent_connection]
connect_timeout = 60
command_timeout = 60
