---
- name: grab boto version
  command: "{{ansible_python['executable']}} -c 'import boto3; print(boto3.__version__)'"
  register: py_cmd

- name: make sure we are running correct boto version
  assert:
    that:
      - py_cmd.stdout is version('1.7', operator='ge')
    msg: "boto3 >= 1.7 is required."

- name: check route53 information
  block:
    - name: check for underscores in workshop name
      fail:
        msg: "Amazon AWS does not allow underscores _ for s3 websites, please see https://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html"
      when:
        - "'_' in ec2_name_prefix"

    - name: does route53 zone exist
      check_mode: true
      route53_zone:
        zone: "{{workshop_dns_zone}}"
        state: present
      register: test

    - name: make sure workshop_type is set to a correct value
      assert:
        that:
          - test.zone_id is not none
        msg:
          - "You must have a valid route53 zone configured for workshop_dns_zone"
          - "Right now the workshop_dns_zone is {{workshop_dns_zone}}"
  when:
    - create_login_page is defined
    - create_login_page|bool

- name: FIND AZ ZONE FOR REGION {{ec2_region}}
  aws_az_info:
    region: "{{ec2_region}}"
  register: az_names

- name: SET AZ ZONE TO FIRST AVAILABLE
  set_fact: ec2_az={{az_names.availability_zones[0].zone_name}}

- name: grab information about AWS user
  aws_caller_info:
    region: "{{ ec2_region }}"
  register: whoami

- name: save username of AWS user
  set_fact:
    aws_user: '{{ whoami.arn.split("/")[-1] }}'
