[automationcontroller]
{{ short_name }} ansible_connection=local

[automationhub]

[database]

[servicescatalog_workers]

[database]
{{ short_name }} ansible_connection=local

[all:vars]
controller_admin_password='{{ admin_password }}'
controller_pg_host={{ short_name }}
controller_pg_password='{{admin_password}}'

postgresql_admin_username=postgres
postgresql_admin_password='{{ admin_password }}'

controller_postinstall=true
controller_license_file="{{ aap_dir }}/manifest.zip"
controller_postinstall_dir="{{ aap_dir }}/config"

gpgcheck='{{ gpgcheck | default(1)}}'

registry_username='{{ redhat_username }}'
registry_password='{{ redhat_password }}'
bundle_install=true
bundle_dir='{{ aap_dir }}/bundle'