{% set site = inventory_hostname[-1] %}
{% if site == "3" %}
{% set tunnel_network = "10." ~ router3_tunnel ~ "." ~ router3_tunnel %}
{% set tunnel_destination = rtr1_node_facts.instances[0].public_ip_address %}
{% else %}
{% set tunnel_network = "10." ~ router4_tunnel ~ "." ~ router4_tunnel %}
{% set tunnel_destination = rtr2_node_facts.instances[0].public_ip_address %}
{% endif %}

hostname rtr{{site}}

router ospf 1
 network 10.{{ site }}.{{ site }}.0 0.0.0.255 area 0
 network {{ tunnel_network }}.0 0.0.0.255 area 0
 network {{ (private_ip ~ '/16') | ipaddr('network') }} 0.0.255.255 area 0
 network 192.168.{{ site }}.0 0.0.0.255 area 0

interface Loopback0
 ip address 192.168.{{ site }}.10{{ site }} 255.255.255.0

interface Loopback1
 ip address 10.{{ site }}.{{ site }}.10{{ site }} 255.255.255.0

interface Tunnel0
 ip address {{ tunnel_network }}.{{ site }} 255.255.255.0
 ip mtu 1476
 ip tcp adjust-mss 1360
 tunnel source GigabitEthernet1
 tunnel destination {{ tunnel_destination }}
