---
## re-use RHEL workshop code
- name: find ami for rhel
  include_tasks: ami_find_rhel.yml

- name: find ami for centos 6
  include_tasks: ami_find_centos_6.yml
  when: (centos6 is defined) and (centos6 is not none)

- name: find ami for centos 7
  include_tasks: ami_find_centos_7.yml
  when: (centos7 is defined) and (centos7 is not none)

- name: Retry loop for find ami for satellite
  include_tasks: ami_find_auto_satellite_loop.yml
...
