[defaults]
deprecation_warnings=False
host_key_checking = False
inventory = /home/vagrant/ansible-networking-vagrant-demo/training-course/hosts
gathering = explicit
retry_files_enabled = False
[paramiko_connection]
host_key_auto_add = True
[persistent_connection]
command_timeout = 30
