---

# These are the default variables common to most tower_configuration and _utilities roles
# You shouldn't need to define them again and again but they should be defined
#tower_hostname: "{{ inventory_hostname }}"
#tower_username: "admin"
#tower_password: ""
#tower_oauthtoken: ""
#tower_config_file: ""
#tower_validate_certs: false

# These are the default variables specific to the notification_templates role

# list of dict to describe Tower notification templates
tower_notifications: []
# possible fields:
#- name: "notif_name"  # mandatory
#  new_name: "new_name"  # optional
#  description: "some description"  # optional
#  organization: "Default"  # optional
#  notification_type:  # optional, choices: email, grafana, irc, mattermost, pagerduty, rocketchat, slack, twilio, webhook
#  messages: {}  # optional, custom messages with keys started, success or error
#  notification_configuration: {}  # optional, configuration file
#  # Deprecated options, replaced by notification_configuration:
#  # account_sid, account_token, channels, client_name, color, from_number,
#  # headers, host, message_from, nickname, notify, password, port, recipients,
#  # sender, server, service_key, subdomain, targets, to_numbers, token, url,
#  # use_ssl, use_tls, username
#  state: present  # optional, choices: present, absent

tower_configuration_notifications_secure_logging: "{{tower_configuration_secure_logging | default(false)}}"
