[all:vars]
ansible_user={{username}}
ansible_password={{ admin_password }}
{% if ssh_port is defined %}
ansible_port={{ ssh_port }}
{% endif %}

[sitea]
{% set node1 = ec2_name_prefix + '-' + username + '-node1' %}
{{ hostvars[node1].short_name }} ansible_host={{ hostvars[node1].private_ip }}
{% set node2 = ec2_name_prefix + '-' + username + '-node2' %}
{{ hostvars[node2].short_name }} ansible_host={{ hostvars[node2].private_ip }}

[siteb]
{% set node3 = ec2_name_prefix + '-' + username + '-node3' %}
{{ hostvars[node3].short_name }} ansible_host={{ hostvars[node3].private_ip }}
{% set node4 = ec2_name_prefix + '-' + username + '-node4' %}
{{ hostvars[node4].short_name }} ansible_host={{ hostvars[node4].private_ip }}

[control]
{% set control_node = ec2_name_prefix + '-' + username + '-ansible' %}
{{ hostvars[control_node].short_name }} ansible_host={{ hostvars[control_node].ansible_host }}
