### Inventory for {{ username }} ###
{% set control_node = ec2_name_prefix + '-' + username + '-ansible' %}
{% set win1 = ec2_name_prefix + '-' + username + '-instance1' %}

[windows:vars]
ansible_connection=winrm
ansible_winrm_transport=credssp
ansible_winrm_server_cert_validation=ignore
ansible_port=5986

[control_nodes:vars]
ansible_port=22
ansible_ssh_user=ec2-user
ansible_ssh_private_key_file="{{ playbook_dir }}/{{ ec2_name_prefix }}/{{ ec2_name_prefix }}-private.pem"

[{{ username }}]
{{ username }}-ansible ansible_host={{ hostvars[control_node].ansible_host }}
{{ username }}-win1 ansible_host={{ hostvars[win1].ansible_host }} ansible_user=Administrator  ansible_password="rSzVIZU*b$z@DwDsrrzubPezBm)j2-Cg"
{% if doubleup %}
{% set win2 = ec2_name_prefix + '-' + username + '-instance2' %}
{{ username }}-win2 ansible_host={{ hostvars[win2].ansible_host }} ansible_user=Administrator  ansible_password="rSzVIZU*b$z@DwDsrrzubPezBm)j2-Cg"
{% endif %}


[all]
{{username}}-ansible
{{username}}-win1

[windows]
{{username}}-win1

[control_nodes]
{{ username }}-ansible
