apiVersion: "v1"
kind: "PersistentVolumeClaim"
metadata:
  name: "{{ openshift_pg_pvc_name }}"
spec:
  accessModes:
    - "ReadWriteOnce"
  resources:
    requests:
      storage: "{{ pvc_claim_size }}"
