---

# These are the default variables common to most tower_configuration and _utilities roles
# You shouldn't need to define them again and again but they should be defined
#tower_hostname: "{{ inventory_hostname }}"
#tower_username: "admin"
#tower_password: ""
#tower_oauthtoken: ""
#tower_config_file: ""
#tower_validate_certs: false

# These are the default variables specific to the license role
# list of dicts to describe Tower inventory groups
tower_groups: []
# possible fields are:
#- name: "group_name"  # mandatory
#  inventory: "inventory_name"  # mandatory
#  new_name: "new_name"  # optional
#  description: "some description"  # optional
#  variables: {}  # optional, dict of variable names/values
#  hosts: []  # optional, list of hosts in the group
#  children: []  # optional, list of groups in the group
#  state: present  # optional, choices: present, absent

tower_configuration_group_secure_logging: "{{tower_configuration_secure_logging | default(false)}}"
