---
  # directions found here https://certbot.eff.org/lets-encrypt/centosrhel8-other
- name: install certbot if not already installed
  dnf:
    name: certbot
    state: present
    disable_gpg_check: true

# https://docs.ansible.com/ansible-tower/latest/html/administration/init_script.html
- name: turn off Ansible Tower
  shell: ansible-tower-service stop

- name: SSL cert block
  block:
    # If this fails check out status of certbot: https://letsencrypt.status.io/
    - name: ISSUE CERT
      shell: certbot certonly --no-bootstrap --standalone -d {{ dns_name }} --email ansible-network@redhat.com --noninteractive --agree-tos
      register: issue_cert
      until: issue_cert is not failed
      retries: 5

    - name: MOVE SSL KEY
      copy:
        remote_src: true
        src: "/etc/letsencrypt/live/{{ dns_name }}/privkey.pem"
        dest: /etc/tower/tower.key

    - name: GRAB SPECIFIC SSL CERT
      slurp:
        src: "/etc/letsencrypt/live/{{ dns_name }}/cert.pem"
      register: intermediate_cert

    - name: COMBINE SPECIFIC AND INTERMEDIATE CERT
      template:
        src: combined_cert.j2
        dest: /etc/tower/tower.cert

- name: turn on tower
  shell: ansible-tower-service start
  register: install_tower
  until: install_tower is not failed
  retries: 5
