---
- name: determine if Automation controller
  stat:
    path: /etc/sysconfig/automation-controller
  register: controller_path

- name: SSL cert block
  block:
    - name: controller start
      include_tasks: "service/controller_start.yml"

    # directions found here https://certbot.eff.org/lets-encrypt/centosrhel8-other
    - name: install certbot if not already installed
      dnf:
        name: certbot
        state: present
        disable_gpg_check: true
    # solves error
    # pkg_resources.DistributionNotFound: The 'requests>=2.14.2' distribution was not found and is required by acme
    - name: Install requests python package
      pip:
        name: requests>=2.14.2

    - name: Install requests python package
      pip:
        name: requests>=2.14.2

    - &tower-pinger-block
      block:
        - name: check Tower status
          shell: "curl --user 'admin:{{ admin_password }}' -vkL -XGET https://localhost/api/v2/ping/"
          register: check2
        - name: Display /api/v2/ping results (stdout)
          debug:
            msg: '{{ check2.stdout }}'
        - name: Display /api/v2/ping results (stderr)
          debug:
            msg: '{{ check2.stderr }}'

    - name: change ansible tower base URL
      block:
        - &tower-baseurl-task
          awx.awx.tower_settings:
            name: TOWER_URL_BASE
            value: "https://{{ dns_name }}"
            tower_verify_ssl: false
            tower_host: https://localhost/
            tower_username: admin
            tower_password: "{{ admin_password }}"
          register: change_base_url
          until: change_base_url is not failed
          # tower may not be fully up yet, wait for it gratuitously
          retries: 12
          delay: 5
      rescue:
        - name: controller restart
          include_tasks: "service/controller_restart.yml"

        - *tower-pinger-block

        - <<: *tower-baseurl-task
          name: Run failed task again

    - name: controller stop
      include_tasks: "service/controller_stop.yml"

    # If this fails check out status of certbot: https://letsencrypt.status.io/
    - name: try to issue SSL certificate
      block:
        - name: Issue SSL cert
          shell: certbot certonly --no-bootstrap --standalone -d {{ dns_name }} --email ansible-network@redhat.com --noninteractive --agree-tos
          register: issue_cert
          until: issue_cert is not failed
          retries: 5
      rescue:
        - name: error with SSL cert
          debug:
            msg: "Unable to retrieve SSL cert, ERROR, continuing on without cert..."

        - name: append dns_information failure
          set_fact:
            dns_information:
              - "{{ dns_information }}"
              - "The Lets Encrypt certbot failed for the controller node, please check https://letsencrypt.status.io/ to make sure the service is running"

    - name: Move SSL Key
      copy:
        remote_src: true
        src: "/etc/letsencrypt/live/{{ dns_name }}/privkey.pem"
        dest: /etc/tower/tower.key

    - name: Retrieve Specific SSL Cert
      slurp:
        src: "/etc/letsencrypt/live/{{ dns_name }}/cert.pem"
      register: intermediate_cert

    - name: Combine Specific and intermediate Cert
      template:
        src: combined_cert.j2
        dest: /etc/tower/tower.cert
  rescue:
    - name: no SSL cert for Automation Controller
      debug:
        msg: "SSL cert problem - no cert applied"
  always:
    # Turn on Ansible Controller if successful
    - name: controller restart
      include_tasks: "service/controller_start.yml"
