[automationcontroller]

[automationhub]
{{ ansible_default_ipv4.address }} ansible_connection=local

[database]

[servicescatalog_workers]

[all:vars]
no_log=false
admin_password='{{admin_password}}'

pg_host=''
pg_port=''

pg_database='awx'
pg_username='awx'
pg_password='{{ admin_password }}'
pg_sslmode='prefer'  # set to 'verify-full' for client-side enforced SSL

registry_url='registry.redhat.io'
registry_username='{{ redhat_username }}'
registry_password='{{ redhat_password }}'

automationhub_admin_password='{{ admin_password }}'

automationhub_pg_host=''
automationhub_pg_port=''

automationhub_pg_database='automationhub'
automationhub_pg_username='automationhub'
automationhub_pg_password='{{ admin_password }}'
automationhub_pg_sslmode='prefer'

gpgcheck='{{ gpgcheck | default(1)}}'
ignore_preflight_errors = True

{% if enable_signing == true %}
automationhub_create_default_container_signing_service = True
automationhub_create_default_collection_signing_service = True
automationhub_auto_sign_collections = True
automationhub_require_content_approval = True
automationhub_collection_signing_service_key = {{ aap_dir }}/galaxy_signing_service.gpg
automationhub_collection_signing_service_script = {{ aap_dir }}/signing_service.sh  
automationhub_container_signing_service_key = {{ aap_dir }}/galaxy_signing_service.gpg
automationhub_container_signing_service_script = {{ aap_dir }}/signing_service_container.sh
{% endif %}

{% if seed_validated_content == true %}
automationhub_seed_collections=True
{% endif %}
