---
- name: remove dns entries for each vs code instance
  include_tasks: teardown.yml
  when: teardown|bool

- name: setup check for code server
  when:
    - not teardown
  block:
    - name: check to see if SSL cert already applied
      become: false
      community.crypto.get_certificate:
        host: "{{ username }}-code.{{ ec2_name_prefix|lower }}.{{ workshop_dns_zone }}"
        port: 443
      delegate_to: localhost
      run_once: true
      register: check_cert
      ignore_errors: true
      failed_when: false
      when: workshop_type is defined

    - name: ensure tower/controller is online and working
      uri:
        url: https://localhost/api/v2/ping/
        method: GET
        user: admin
        password: "{{ admin_password }}"
        validate_certs: false
        force_basic_auth: true
      register: check_controller
      when: workshop_type is defined

    - name: determine if controller or tower
      set_fact:
        controller_or_tower: "{{ 'controller' if 'Platform' in check_controller.x_api_product_name else 'tower' }}"
      when: workshop_type is defined

- name: setup vscode for web browser access
  include_tasks: "codeserver.yml"
  when:
    - not teardown|bool
    - check_cert.cert is not defined
