---
# https://access.redhat.com/articles/3626371#bgenerating-an-access-tokenb-4
#
# equivalent of curl https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token -d grant_type=refresh_token -d client_id=rhsm-api -d refresh_token=$offline_token
- name: Generating an access token
  uri:
    url: https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
    method: POST
    body_format: form-urlencoded
    return_content: true
    body:
      grant_type: "refresh_token"
      client_id: "rhsm-api"
      refresh_token: "{{ offline_token }}"
  register: temp_token

# - name: show temp_token only
#   debug:
#     var: temp_token.json.access_token

- name: retrieving download link via sha_value
  uri:
    url: https://api.access.redhat.com/management/v1/images/{{ provided_sha_value }}/download
    headers:
      accept: "application/json"
      Authorization: "Bearer {{ temp_token.json.access_token }}"
    method: GET
  register: download_url

- name: show download URL
  debug:
    var: download_url.url

- name: Download aap.tar.gz
  delegate_to: localhost
  get_url:
    url: "{{ download_url.url }}"
    dest: "{{ playbook_dir }}/aap.tar.gz"
    checksum: "sha256: {{ provided_sha_value }}"
