---
- name: check if aap.tar.gz already has been downloaded
  stat:
    path: "{{ playbook_dir }}/aap.tar.gz"
    checksum_algorithm: sha256
  register: stat_var

- name: attempt to download specified AAP if we don't already have it
  when:
    - not stat_var.stat.exists
    - stat_var.stat.checksum | default("") != provided_sha_value
  block:
    - name: download aap.tar.gz from access.redhat.com
      include_tasks: 10_download.yml

  rescue:
    - name: aap_download role has entered rescue stanza
      debug:
        msg: "automatic download from access.redhat.com has failed"

    - name: fail if file aap.tar.gz not found
      fail:
        msg: "You need to manually download Red Hat Ansible Automation Platform 2.1 from https://access.redhat.com/downloads/content/480/ver=2.1/rhel---8/2.1/x86_64/product-software with SHA {{ provided_sha_value }}"
