# Ignore PyCache and compiled python
**/__pycache__/**
*.pyc

# ignore all logs
*.log
*.vscode

# ignore all ansible retries
*.retry

# Ignore any included collections
collections/*
!collections/requirements.yml
galaxy.yml
*.tar.gz

# Ignore Vim working files
.*.swp
