{
    "name": "student{{ userid }}-win1.{{ dns_domain_name }}",
    "description": "",
    "inventory": 2,
    "enabled": true,
    "instance_id": "",
    "variables": "ansible_port: 5986\nansible_connection: winrm\nansible_winrm_server_cert_validation: ignore\nansible_winrm_transport: credssp"
}
