---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&family=Red+Hat+Text:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

// font and color tweaks

* {
  font-family: 'Red Hat Text', sans-serif;
}

h1, h1 *,
h2, h2 *,
h3, h3 * {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
}

h1, h1 * {
  font-size: 32px;
  line-height: 1.1;
}

h4, h5, h6 {
  font-family: 'Red Hat Display', sans-serif;
  margin-top: 0px;
}

a {
  color: #337ab7;
  font-weight: normal;
}

// layout tweaks

body {
  padding: 0;
}

.wrapper {
  width: initial;
  overflow: hidden;
}

section {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  padding: 0;
  float: initial;
}

section * {
  word-break: break-word;
}

section > * {
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-right: 20px;
}

section > ul, section > ol {
  width: calc(100% - 65px);
}

section > blockquote {
  background: #E6F9E6;
  border-top: 30px solid rgba(92, 184, 92, 0.8);
}

blockquote p:first-child {
    position: relative;
    top: -28px;
    margin-bottom: -20px;
    color: #fff;
}

blockquote p:first-child:before {
    position: absolute;
    top: 1px;
    color: #fff;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f05a";
    left: -16px;
}

blockquote {
    font-style: normal;
}
// Centre images using ?style=centreme
img[src*="#centreme"] {
  display: block;
  margin: 0 auto;
}

img {
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    border: none;
}

// table tweaks

table, th, td {
  border: 1px solid #999;
  border-collapse: collapse;
}

td, th {
  min-width: 100px;
}

@media screen and (max-width: 550px) {
  td, th {
    min-width: initial;
    width: 25%;
  }
}

th {
  font-family: 'Red Hat Display';
  vertical-align: middle;
  font-weight: 700;
  font-size: 16px;
}

td {
  font-family: 'Red Hat Text';
  background: #f2f2f2;
}

// codeblock tweaks

.highlighter-rouge pre.highlight {
  background-color: #f5f2f0;
}

// custom header

header {
  width: 100%;
  position: initial;
  float: initial;
  padding: 0;
  margin: 0;
  border-radius: 0;
  height: 88px;
}

.header-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1170px;
  padding: 0;
  float: initial;
  display: flex;
  align-items: center;
}

.header-logo {
  width: 137px;
  border: 0;
  margin: 0;
  margin-left: 15px;
}

.header-link {
  margin-left: 40px;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Red Hat Text';
  font-weight: 500;
}

.header-link:hover {
  text-shadow: 0 0 0.02px white;
  text-decoration: none;
}

// custom footer

footer {
  position: relative;
  background: black;
  color: white;
  width: 100%;
  bottom: 0;
  padding: 0;
  margin: 0;
  height: 58px;
}

.footer-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1170px;
  padding: 0;
  float: initial;
  display: flex;
  align-items: center;
}

.footer-logo {
  width: 140px;
  border: 0;
  margin: 0;
  margin-left: 20px;
  margin-top: 5px;
}

.footer-copyright {
  margin: 0;
  margin-left: 49px;
}

.footer-links {
  margin-left: 20px;
}

.footer-copyright, .footer-link {
  color: #aaa;
  font-size: 12px;
  font-family: 'Red Hat Text';
  font-weight: 500;
}

.footer-linkContainer {
  margin-left: 49px;
  color: #aaa;
}

.footer-link {
  margin-left: 7px;
  margin-right: 10px;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Red Hat Text';
  font-weight: 500;
}

.footer-link:hover {
  text-shadow: 0 0 0.02px white;
  text-decoration: none;
}

@media screen and (max-width: 860px) {
  footer {
    height: initial;
  }

  .footer-container {
    flex-wrap: wrap;
    padding: 10px 0;
  }

  .footer-copyright {
    width: 100%;
    margin-left: 25px;
  }

  .footer-linkContainer {
    width: 100%;
    margin-left: 18px;
  }
}

@media screen and (max-width: 480px) {
  .footer-linkSpacer {
    display: none;
  }
}

a h3 {
    color: #EE0000;
    text-decoration: underline;
    font-weight: bold;
    font-size: 30px;
}
a h3:hover {
    color: #5F0000;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

* {
  box-sizing: border-box;
}

.page-contain {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping if necessary */
  align-items: stretch; /* Stretch items to the same height */
  justify-content: center;
  padding: 2em;
  font-family: 'Open Sans', sans-serif;
}

.data-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Ensure cards take equal height */
  flex-basis: 20.75em; /* Base size of each card */
  max-width: 20.75em;
  max-height: 27.0em;
  overflow: hidden;
  border-radius: .5em;
  text-decoration: none !important; /* Remove underline from links */
  background: white;
  margin: 1em;
  padding: 2.75em 2.5em;
  box-shadow: 0 1.5em 2.5em -.5em rgba(0, 0, 0, .1);
  transition: transform .45s ease, background .45s ease;
}

.data-card h3, .data-card h4, .data-card p, .data-card .link-text {
  text-decoration: none; /* Ensure no underline on child elements */
}

.data-card h3 {
  color: #2E3C40;
  font-size: 2.2em;
  font-weight: 600;
  line-height: 1;
  padding-bottom: .5em;
  margin: 0 0 0.142857143em;
  border-bottom: 2px solid #ee0000;
  transition: color .45s ease, border .45s ease;
}

.data-card h4 {
  color: #627084;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
  margin: 0 0 1.777777778em;
  transition: color .45s ease;
}

.data-card p {
  opacity: 0;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 1.25em;
  transform: translateY(-1em);
  transition: opacity .45s ease, transform .5s ease;
}

.data-card .link-text {
  display: block;
  color: #ee0000;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.2;
  margin: auto 0 0;
  transition: color .45s ease;
}

.data-card .link-text svg {
  margin-left: .5em;
  transition: transform .6s ease;
}

.data-card .link-text svg path {
  transition: fill .45s ease;
}

.data-card:hover {
  background: #ee0000;
  transform: scale(1.02);
}

.data-card:hover h3 {
  color: #FFFFFF;
  border-bottom-color: #5f0000;
}

.data-card:hover h4 {
  color: #FFFFFF;
}

.data-card:hover p {
  opacity: 1;
  transform: none;
}

.data-card:hover .link-text {
  color: #FFFFFF;
}

.data-card:hover .link-text svg {
  animation: point 1.25s infinite alternate;
}

.data-card:hover .link-text svg path {
  fill: #FFFFFF;
}

@keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(.125em);
  }
}


.cisco-image-container {
  width: 800px; /* Set the width of the container */
  height: 300px; /* Set the height of the container */
  background-image: url("{{ site.baseurl }}/assets/images/cisco_workshops.png"); /* Image on hover */
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  transition: background-image 0.3s ease; /* Smooth transition */
}

.cisco-image-container:hover {
  background-image: url("{{ site.baseurl }}/assets/images/cisco_workshops_tony.png"); /* Image on hover */
}

#website_explanation {
  display: none;
}