# FILE TEMPLATED BY Ansible WorkShops Provisioner
#   https://github.com/ansible/workshops/
#
BOOTPROTO=none
DEVICE=eth1
HWADDR={{ snort_inst['instances'][0]['network_interfaces'][1]['mac_address'] }}
ONBOOT=yes
TYPE=Ethernet
USERCTL=no
PREFIX=16
IPADDR={{ snort_inst['instances'][0]['network_interfaces'][1]['private_ip_address'] }}
DEFROUTE=no
