[Unit]
Description=Code Server IDE
After=network.target

[Service]
Type=simple
User={{username}}
WorkingDirectory=/home/{{username}}
Restart=on-failure
RestartSec=10
Environment="PASSWORD={{admin_password}}"

ExecStart=/opt/code-server /home/{{username}} --cert
ExecStop=/bin/kill -s QUIT $MAINPID


[Install]
WantedBy=multi-user.target
