{
  "name": "Simple Survey",
  "description": "Description of the simple survey",
  "spec": [
    {
      "type": "multiplechoice",
      "question_name": "example question",
      "question_description": "Rollback to which date?",
      "variable": "rollback_date",
      "choices": [
{% for file in backups.files %}
{% if loop.last %}
        "{{file.path.split('/')[-1]}}"
{% elif loop.first %}
        "\n{{file.path.split('/')[-1]}}",
{% else %}
        "\n{{file.path.split('/')[-1]}}",
{% endif %}
{% endfor %}
      ],
      "required": true,
      "default": "{{backups.files[0].path.split('.')[-1]}},"
    }
  ]
}
