127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% if instance1_node_facts.instances is defined %}
{% for vm in instance1_node_facts.instances %}
{% if 'student' + item == vm.tags.Student %}
{{ vm.public_ip_address }} {{ vm.tags.short_name }}
{% endif %}
{% endfor %}
{% endif %}

{% if instance2_node_facts is defined %}
{% if instance2_node_facts.instances is defined %}
{% for vm in instance2_node_facts.instances %}
{% if 'student' + item == vm.tags.Student %}
{{ vm.public_ip_address }} {{ vm.tags.short_name }}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}

{% for vm in gitlab_node_facts.instances %}
{{ vm.public_ip_address }} {{ vm.tags.short_name }}
{% endfor %}

{% for vm in ansible_node_facts.instances %}
{% if 'student' + item == vm.tags.Student %}
{{ vm.public_ip_address }} {{vm.tags.Student}}.{{ec2_name_prefix|lower}}.{{workshop_dns_zone}} {{ vm.tags.short_name }}
{% endif %}
{% endfor %}
