<!DOCTYPE html>
<html>
<font face="verdana,sans,arial">
<style>
pre {
  background: black;
  color: #fff !important;
  width: 100%;
  padding: 5px;
  max-width: 500px;

}

.content{
         display:none;
         margin: 10px;
}

.header{
  border-bottom: 1px solid #494a5a;
  padding-bottom: 20px;
}

.student_logins {
    width:100%;
    border:1px solid #d3d3d3;
}
.student_logins div {
    width:100%;
}
.student_logins .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.student_logins .studentx {
    display: none;
    padding : 5px;
}

.linklightfooter {
    background-color: #212121;
    padding: 80px 0px;
    font-size: 0.7em;
    color: #fff;
    font-weight: 300;
}

section {
    padding: 40px 0px;
}

body {
  line-height: 1.5;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.theme-dark,
.theme-dark *{
    color: #fff;
}

.theme-bg-gray{
    background-color: #cac8c8;
}

.theme-bg-darkgray{
    background-color: #a2a1a1;
}

.btn {
    border-radius: 0px;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 0px;
}

.btn.btn-block {
    display: block;
}

.btn.btn-primary,
.btn.btn-secondary {
    background-color: #a2a1a1;
    color: #fff;
    padding: 30px;
}

.btn.btn-secondary {
    background-color: #cac8c8;
}

.btn.btn-ghost{
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
}


.page-header {
    background: #c00;
    color: #fff;
    text-align: center;
}

.page-header h1 {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 400;
}

.page-header h2 {
    font-size: 1em;
    font-weight: 300;
}


.main-content h1{
    color: #333;
}

.main-content h2{
    color: #cc0000;
}

.main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #c00;
}


footer.site-footer{
    background-color: #212121;
    padding: 80px 0px;
    font-size: 0.7em;
    color: #fff;
    font-weight: 300;
}



@media screen and (min-width: 768px){

    .page-header h1 {
        font-size: 24px;
    }

    .main-content {
        font-size: 1.125rem;
    }
}



/* theme overrides */

@media screen and (max-width: 42em){
    .main-content {
        padding: 2rem 0px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 64em) and (min-width: 42em){
    .main-content {
        padding: 2rem 0px;
        font-size: 1rem;
    }
}

@media screen and (min-width: 64em){
    .main-content {
        max-width: none;
        font-size: 1.1rem;
    }
}

a {
  test-decoration: none;
}

</style>
<head>
<link href=“https://fonts.googleapis.com/css?family=Overpass:300,400,700” rel=“stylesheet”>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
$("document").ready(function(){
  $click =  $('.studentinfo');   // Click selector


  $click.click(function () {

    $clicked = $(this);
    $expand = $(this).parent('.header').next();  // Expand and collapse content selector

        //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
        $expand.slideToggle(500, function () {
            //execute this after slideToggle is done
            //change text of header based on visibility of content div
        });

    });
});
</script>

</head>

<body>


    <section class="page-header">
      <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
              <h1 class="project-name">Red Hat Ansible Automation <br/><strong class="text-nowrap">Technical Workshops</strong></h1>
              <h2>The Ansible Networking Linklight project is intended for effectively demonstrating Ansible's capabilities through instructor-led workshops or self-paced exercises.</h2>

                <a href="https://github.com/network-automation/linklight" class="btn btn-ghost">View on GitHub</a><br><br>

              <h1>Workshop Name: {{ec2_name_prefix}}</h1>

            </div>
        </div>
      </div>
    </section>

<section class="main-content">
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                {% if networking or f5workshop %}
                <h2>Network Automation Workshops</h2>
                <p>These workshops are focused on networking platforms like Arista, Cisco, Juniper and F5.</p>
                {% else %}
                <h2>Server Automation Workshops</h2>
                <p>These workshops are focused on automating Linux platforms like RHEL (Red Hat Enterprise Linux)</p>
                {% endif %}
            </div>
        </div>
        {% if networking %}
        <div class="row">
          <div class="col-sm-4">
              <a class="btn btn-secondary btn-block" href="https://network-automation.github.io/linklight/exercises/networking_v2/">Ansible Network Exercises</a>
          </div>

          <div class="col-sm-4">
              <a class="btn btn-secondary btn-block" href="https://network-automation.github.io/linklight/decks/ansible_network.pdf">Ansible Network Deck</a>
          </div>

        </div>
        {% elif f5workshop %}
        <div class="row">
          <div class="col-sm-4">
              <a class="btn btn-secondary btn-block" href="https://network-automation.github.io/linklight/exercises/ansible_f5/">Ansible F5 Exercises</a>
          </div>

          <div class="col-sm-4">
              <a class="btn btn-secondary btn-block" href="https://network-automation.github.io/linklight/decks/ansible_f5.pdf">Ansible F5 Deck</a>
          </div>

        </div>
        {% else %}
         <div class="row">
            <div class="col-sm-4">
                <a class="btn btn-secondary btn-block" href="https://network-automation.github.io/linklight/exercises/ansible_engine/">Ansible Server Exercises</a>
            </div>
          <div class="col-sm-4">
              <a class="btn btn-secondary btn-block" href="https://network-automation.github.io/linklight/decks/ansible-essentials.html#/">Ansible Essentials Deck</a>
          </div>
            <div class="col-sm-4">
                <a class="btn btn-secondary btn-block" href="https://network-automation.github.io/linklight/exercises/ansible_tower/">Ansible Tower Exercises</a>
            </div>

        </div>
        {% endif %}
<br><br>

    </div>
</section>

<hr>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>Workshop Resources</h2>
                <p>Links and materials to help complete the exercises.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <a class="btn btn-secondary btn-block" href="https://the.earth.li/~sgtatham/putty/latest/w64/putty.exe">Download: PuTTY for Windows</a>
            </div>

            <div class="col-sm-4">
                <a class="btn btn-secondary btn-block" href="https://www.ansible.com/workshop-license">Ansible Tower Workshop License</a>
            </div>

            <div class="col-sm-4">
                <a class="btn btn-secondary btn-block" href="https://ansible.sivel.net/test/">Ansible Template Tester</a>
            </div>
        </div>
<br>
        <div class="row">
            <div class="col-sm-4">
                <a class="btn btn-secondary btn-block" href="https://docs.ansible.com/ansible/latest/network/index.html">Documentation Network Automation </a>
            </div>

            <div class="col-sm-4">
                <a class="btn btn-secondary btn-block" href="https://docs.ansible.com/ansible/latest/modules/list_of_network_modules.html">Ansible Network Modules</a>
            </div>

            <div class="col-sm-4">
                <a class="btn btn-secondary btn-block" href="https://pythex.org/">Real-time regular expression editor</a>
            </div>

        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>Workbench Information</h2>
                <p>Click your student number for login information</p>
            </div>
        </div>

        <div class="row">
{% for number in range(1,student_total + 1) %}
  <div class="student_logins">
    <div class="header">

      <p class="studentinfo">student{{number}} - Click to see login details</p>
    </div>
    <div class="content">
{% for host in ansible_node_facts.instances %}
{% if 'student' ~ number == host.tags.Student %}
To login to the <code>ansible</code> control node use the following for SSH access:<br>
username:   student{{number}}<br>
password:   {{admin_password}}<br>
IP Address: {{ host.public_ip_address }}<br>
<pre><code>ssh student{{number}}@{{ host.public_ip_address }}</code></pre>
DNS: student{{number}}.{{ec2_name_prefix}}.{{workshop_dns_zone}}<br>
<pre><code>ssh student{{number}}@student{{number}}.{{ec2_name_prefix}}.{{workshop_dns_zone}}</code></pre>
{% if towerinstall %}Tower Link: <a href="https://student{{number}}.{{ec2_name_prefix}}.{{workshop_dns_zone}}">https://student{{number}}.{{ec2_name_prefix}}.{{workshop_dns_zone}}</a><br>{% endif %}
{% endif %}
{% endfor %}
    </div>
  </div>
{% endfor %}

       </div>
    </div>
</section>

</section>

<div class="linklightfooter">
  <div class="container">
  <p>Red Hat, the Shadowman logo, Ansible, and Ansible Tower are trademarks or registered trademarks of Red Hat, Inc. or its subsidiaries in the United States and other countries.

  All other parts of Ansible Linklight are made available under the terms of the MIT License</p>
  </div>
</div>

</body>
</html>
