---

# These are the default variables common to most tower_configuration and _utilities roles
# You shouldn't need to define them again and again but they should be defined
#tower_hostname: "{{ inventory_hostname }}"
#tower_username: "admin"
#tower_password: ""
#tower_oauthtoken: ""
#tower_config_file: ""
#tower_validate_certs: false

# These are the default variables specific to the license role

# a list of dics describing Tower credentials
tower_credentials: []
# possible fields
#- name: "cred_name"  # mandatory
#  new_name: "new_name"  # optional
#  description: "some description"  # optional
#  organization: "Default"  # optional (str or org dict with name field)
#  credential_type: "ssh"  # optional, choices: ssh (i.e. Machine), vault, net, scm, aws, vmware, satellite6, cloudforms, gce, azure_rm, openstack, rhv, insights, tower (str or cred type dict with name field)
#  kind:  # deprecated, use credential_type (str or cred type dict with kind field)
#  inputs: {}  # optional, dictionary of input fields
#  user: "owner_name"  # optional, user owning the credential (str or user dict with username field)
#  team: "owner_name"  # optional, team owning the credential (str or group dict with name field)
#  state: present  # optional, choices: present, absent

tower_configuration_credentials_secure_logging: "{{tower_configuration_secure_logging | default(false)}}"
