{% include 'instances_rhel.j2' %}

[satellite]
{% for vm in satellite_node_facts.instances %}
{% if 'student' + item == vm.tags.Student %}
{{ vm.tags.short_name }}.example.com ansible_host={{ vm.private_ip_address }}
{% endif %}
{% endfor %}