---
- name: ensure workshop folder {{ ec2_name_prefix }} exists
  file:
    path: "{{ playbook_dir }}/{{ ec2_name_prefix }}"
    state: directory

## These AWS resources are used for every workshop type
## This includes VPC, subnet, Security Group, Internet Gateway and route table
- name: provision aws resources
  include_tasks: resources/resources.yml

## This duplicates the above when network workshop uses 2 VPCs
- name: provision networking aws resources
  include_tasks: resources/resources_{{workshop_type}}.yml
  when: workshop_type == 'network'

- name: find ami for ansible control node
  ec2_ami_info:
    region: "{{ ec2_region }}"
    owners: "{{ ec2_info[control_type].owners }}"
    filters:
      name: "{{ ec2_info[control_type].filter }}"
      architecture: "{{ ec2_info[control_type].architecture }}"
  register: amis

- name: save ami for ansible control node
  set_fact:
    ansible_control_node_ami: >
      {{ amis.images | selectattr('name', 'defined') | sort(attribute='creation_date') | last }}

- name: Create EC2 instances for ansible node (control node)
  ec2:
    assign_public_ip: true
    key_name: "{{ ec2_name_prefix }}-key"
    group: "{{ ec2_security_group }}"
    instance_type: "{{ ec2_info[control_type].size }}"
    image: "{{ ansible_control_node_ami.image_id }}"
    region: "{{ ec2_region }}"
    exact_count: "{{ student_total }}"
    count_tag:
      Workshop_ansible: "{{ ec2_name_prefix }}-ansible"
    instance_tags:
      Workshop_ansible: "{{ ec2_name_prefix }}-ansible"
      Workshop: "{{ ec2_name_prefix }}"
      Workshop_type: "{{ workshop_type }}"
      AWS_USERNAME: "{{ aws_user }}"
      Info: "AWS_USERNAME that provisioned this-> {{ aws_user }}"
      Ansible_Workshops: "This was provisioned through the ansible workshops provisioner"
      Students: "{{ student_total }}"
      username: "{{ ec2_info[control_type].username }}"
      short_name: "ansible"
    wait: "{{ ec2_wait }}"
    vpc_subnet_id: "{{ ec2_vpc_subnet_id }}"
    volumes:
      - device_name: /dev/sda1
        volume_type: gp2
        volume_size: "{{ ec2_info[control_type].disk_space }}"
        delete_on_termination: true
  register: control_output

- name: Ensure tags are present
  ec2_tag:
    region: "{{ ec2_region }}"
    resource: "{{ item.1.id }}"
    state: present
    tags:
      Name: "{{ ec2_name_prefix }}-student{{ item.0 + 1 }}-ansible"
      Index: "{{ item[0] }}"
      Student: "student{{item.0 + 1}}"
      dns: "{% if dns_type != 'none' %}student{{ item.0 + 1 }}.{{ ec2_name_prefix|lower }}.{{ workshop_dns_zone }} {% else %} none {% endif %}"
      launch_time: "{{ item.1.launch_time }}"
  with_indexed_items:
    - "{{ control_output.instances }}"
  when: control_output.instance_ids is not none

## create instance that will host login page
- name: configure attendance host
  include_tasks: 'attendance.yml'
  when: attendance|bool

## find AMI - amazon machine images dynamically
- name: find correct AMI
  include_tasks: 'ami_find/ami_find_{{ workshop_type }}.yml'

## Instance creation
- name: provision workshop instances
  include_tasks: 'instances/instances_{{ workshop_type }}.yml'

- name: create instructor_inventory, and student files
  include_tasks: create_inventory.yml
