/**
 * An ANSIBLE theme for reveal.js presentations, similar
 * to the simple theme. 
 */
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/*********************************************
 * GLOBAL STYLES
 *********************************************/

*{
  outline: none;
}

body {
  background: #fff;
  background-color: #fff;
}

mark{
  background: #5bbdbf;
}

mark span.hljs-number{
  color: #286669;
}

mark span.hljs-symbol,
mark span.hljs-string{
  color: #af2e2e;
}

.reveal {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: normal;
  color: #555;
  text-align: left;
}

.reveal .slides{
  text-align: left;
}

::selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.99);
  text-shadow: none;
}

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit;
}
  
  
.text-center{
  text-align: center;
}

.text-small{
  font-size: 70% !important;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #cc0000;
  font-family: "Open Sans", Impact, sans-serif;
  font-weight: bold;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  margin-bottom: 0.6em;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2em;
}

.cover .reveal h1{
  margin: 1em 0;
}

.reveal h2 {
  font-size: 1.35em; }

.reveal h3 {
  font-size: 1.2em;
  color: #555;
}

.reveal h4 {
  font-size: 1em;
  color: #555;
}

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0 0.5em;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  /*display: inline-block;*/
  text-align: left;
  margin: 0 0 0 1em; }
  
.reveal li{
  margin: 0 0 0.3em;
}

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  /*box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);*/
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre,
.reveal pre[class*=language-] {
  display: block;
  position: relative;
  margin: 10px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  padding: 0px;
}

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 55vh;
  word-wrap: normal;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #00008B;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #0000f1;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #00003f; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  max-height: 500px;
}

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #00008B;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/

.reveal .controls {
    bottom: auto;
    top: 10px;
}


.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #00008B; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #00008B; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #00008B; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #00008B; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #0000f1; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #0000f1; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #0000f1; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #0000f1; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span {
  background: #00008B;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}


/*********************************************
 * CUSTOM STYLES
 *
 *
 * colors:
 *
 * Pool -   #5bbdbf;
 * Mango -  #ff5850;
 *********************************************/
.reveal section .ans-logo img{
    box-shadow: none;
    border: none;
    margin: 0px;
    background: none;
}

.cover div.ans-logo{
  display: block;
}

div.ans-mark{
  position: absolute;
  width: 6vw; /*vertical-width*/
  bottom: 0.5em;
  right: 1em;
  z-index: 9999;
}

div.ans-mark .circle{
  fill:#CC0000;
}

.cover div.ans-mark .circle,
.title.alt div.ans-mark .circle{
  fill:#000;
}

svg .a-mark{
  fill:#FFFFFF;
}

.reveal {
    box-sizing: border-box;
    transition: all 300ms ease-in-out;
}

.reveal p,
.reveal li{
  width: 80%;
}

.reveal p.fullwidth,
.reveal .col p,
.reveal .col li,
.reveal aside p{
  width: 100%;
}

.reveal ul,
.reveal ol{
  margin-left: 2em;
}

.slide-background.present{
  background-color: #fff;
}

.cover .slide-background.present,
.title.alt .slide-background.present{
  background-color: #cc0000;
  display: block !important;
}

.cover .present,
.cover .present h1,
.cover .present h2,
.cover .present h3,
.cover .present h4,
.cover .present h5,
.cover .present h6,
.cover .present p,
.cover .present li{
  color: #fff;
}

.title .reveal h1,
.title .reveal h2,
.title .reveal h3,
.title .reveal h4{
  color: #cc0000;
}


.title.alt .reveal h1,
.title.alt .reveal h2,
.title.alt .reveal h3,
.title.alt .reveal h4,
.title.alt .reveal p{
  color: #fff;
}

.columns{
  display: flex;
  justify-content: flex-start;
}

.reveal .columns > *{
  flex-basis: 31%;
  margin-right: 2.333%;
  flex-grow: 1;
}

.reveal .progress span {
  background: #ff5850;
}

.monospace{
  font-family: courier, monospace !important;
}


/*********************************************
 * CONTROLS
 *********************************************/

.reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled{
  border-right-color: #ccc;
}
.reveal .controls .navigate-left.enabled:hover {
    border-right-color: #999;
    opacity: 0.5;
}

.reveal .controls .navigate-right, .reveal .controls .navigate-right.enabled{
  border-left-color: #ccc;
}
.reveal .controls .navigate-right.enabled:hover {
    border-left-color: #999;
    opacity: 0.5;
}

.reveal .controls .navigate-down, .reveal .controls .navigate-down.enabled {
  border-top-color: #ccc;
}
.reveal .controls .navigate-down.enabled:hover {
    border-top-color: #999;
    opacity: 0.5;
}

.reveal .controls .navigate-up, .reveal .controls .navigate-up.enabled {
  border-bottom-color: #ccc;
}

.reveal .controls .navigate-up.enabled:hover {
    border-bottom-color: #999;
    opacity: 0.5;
}

.reveal .controls button {
  opacity: 0.1;
}



/*********************************************
 * PRINT
 *********************************************/

@media print{
  /*@page {size: landscape}*/
  
  .ans-logo{
    padding: 20px !important;
    background: #c00;
    display: inline-block;
  }
  
  .reveal,
  .reveal h1,
  .reveal h2,
  .reveal h3,
  .reveal h4,
  .reveal h5,
  .reveal h6,
  .reveal p,
  .reveal ul,
  .reveal ol,
  .reveal li,
  .reveal blockquote{
    font-family: "Open Sans", sans-serif !important;
    color: #000 !important;
  }
  
  .reveal blockquote{
    font-size: 20px !important;
    border: none !important;
  }
  
  .reveal p,
  .reveal li{
    font-size: 20px !important;
  }
  
  .reveal img{
    border: none !important;
  }
  
  .reveal .columns .col {
    max-width: 50%;
  }
  
  .reveal pre code{
    max-height: none !important;
  }
  
  .reveal section aside.notes {
    display: block;
    border-top: 1px solid black;
    margin-top: 60px;
    padding-top: 20px;
  }
  
  .reveal section aside.notes *{
    font-size: 14px !important;
    font-family: sans-serif;
  }

  div.ans-mark{
    position: fixed;
    width: 6vw; /*vertical-width*/
    z-index: 9999;
  }

}

/*
@media print and (orientation:landscape) {
  .reveal section aside.notes {
    display: none !important;
  }
}
*/