[defaults]
host_key_checking = False
inventory      = hosts
forks          = 50
retry_files_enabled = False
callback_enabled = ansible.posix.profile_tasks
[persistent_connection]
connect_timeout = 60
command_timeout = 60
