---

# These are the default variables common to most tower_configuration and _utilities roles
# You shouldn't need to define them again and again but they should be defined
#tower_hostname: "{{ inventory_hostname }}"
#tower_username: "admin"
#tower_password: ""
#tower_oauthtoken: ""
#tower_config_file: ""
#tower_validate_certs: false

# These are the default variables specific to the license role
# list of dicts describing Tower credential input sources
tower_credential_input_sources: []
# possible values:
#- target_credential: "credential_name"  # mandatory
#  input_field_name: "input_field_name"  # mandatory
#  source_credential: "credential_name"  # optional
#  description: "input source desc"  # optional
#  metadata: "{}"  # optional, a JSON or YAML string
#  state: present  # optional, choices: present, absent

tower_configuration_credential_input_sources_secure_logging: "{{tower_configuration_secure_logging | default(false)}}"
