---
- name: debug the specific instance_ids
  debug:
    var: item.1.instance_id
  with_indexed_items:
    - '{{ attacker_instances.instances }}'

- name: debug the specific instance_ids length
  debug:
    msg: "attacker_instances.instances|length-> {{ attacker_instances.instances|length }}"

- name: debug the attacker_ami network_interfaces length
  debug:
    msg: "item.1.network_interfaces|length-> {{ item.1.network_interfaces|length }}"
  with_indexed_items:
    - '{{ attacker_instances.instances }}'

- name: debug the specific network interface information
  debug:
    msg:
      - "item.1.network_interfaces[1]-> {{ item.1.network_interfaces[1] }}"
      - "item.1.network_interfaces[1].attachment.status-> {{ item.1.network_interfaces[1].attachment.status }}"
  with_indexed_items:
    - '{{ attacker_instances.instances }}'
  when: item.1.network_interfaces|length > 1

- name: Create Subnet2 ENI async attacker (SECURITY MODE)
  amazon.aws.ec2_eni:
    instance_id: '{{ item.1.instance_id }}'
    subnet_id: '{{ ec2_vpc_subnet2_id }}'
    state: present
    region: '{{ ec2_region }}'
    delete_on_termination: true
    attached: true
    device_index: 1
  with_indexed_items:
    - '{{ attacker_instances.instances }}'
  async: "{{ async_timeout_seconds }}"
  poll: 0
  register: ec2_subnet2_eni_attacker_async
  when:
    - attacker_instances.instances|length > 0
    - item.1.network_interfaces[1] is not defined
    - item.1.network_interfaces|length < 2

- name: debug the snort network_interfaces length
  debug:
    msg: "item.1.network_interfaces|length-> {{ item.1.network_interfaces|length }}"
  with_indexed_items:
    - '{{ snort_instances.instances }}'

- name: Create Subnet2 ENI async snort (SECURITY MODE)
  amazon.aws.ec2_eni:
    instance_id: '{{ item.1.instance_id }}'
    subnet_id: '{{ ec2_vpc_subnet2_id }}'
    state: present
    region: '{{ ec2_region }}'
    delete_on_termination: true
    attached: true
    device_index: 1
  with_indexed_items:
    - '{{ snort_instances.instances }}'
  async: "{{ async_timeout_seconds }}"
  poll: 0
  register: ec2_subnet2_eni_snort_async
  when:
    - snort_instances.instances|length > 0
    - item.1.network_interfaces[1] is not defined
    - item.1.network_interfaces|length < 2

- name: Wait for async 2nd net iface creation to complete (attacker)
  async_status:
    jid: "{{ item['ansible_job_id'] }}"
  register: wait_eni2_creation_attacker
  when: "'ansible_job_id' in item"
  until: wait_eni2_creation_attacker.finished
  retries: "{{ async_wait_for_retries }}"
  loop: "{{ ('results' in ec2_subnet2_eni_attacker_async) | ternary(ec2_subnet2_eni_attacker_async['results'], []) }}"

- name: Wait for async 2nd net iface creation to complete (snort)
  async_status:
    jid: "{{ item['ansible_job_id'] }}"
  register: wait_eni2_creation_snort
  when: "'ansible_job_id' in item"
  until: wait_eni2_creation_snort.finished
  retries: "{{ async_wait_for_retries }}"
  loop: "{{ ('results' in ec2_subnet2_eni_snort_async) | ternary(ec2_subnet2_eni_snort_async['results'], []) }}"

- name: Ensure Subnet2 ENI Tags async attacker (SECURITY MODE)
  amazon.aws.ec2_tag:
    region: "{{ ec2_region }}"
    resource: "{{ item[1]['interface']['id'] }}"
    state: present
    tags:
      Name: "{{ ec2_name_prefix }}-student{{item[0] + 1}}-attacker-eni2"
      Username: "{{ aws_user }}"
      Info: "Username that provisioned this-> {{ aws_user }}"
      Linklight: "This was provisioned through the linklight provisioner"
      Students: "{{student_total|int}}"
      Subnet: '{{ ec2_name_prefix }}-subnet2'
      Workshop: "{{ec2_name_prefix}}"
      ansible-workshops: "true"
  when: "(item|length|int > 1) and ('interface' in item[1])"
  with_indexed_items:
    - "{{ ('results' in wait_eni2_creation_attacker) | ternary(wait_eni2_creation_attacker['results'],[]) }}"
  async: "{{ async_timeout_seconds }}"
  poll: 0
  register: ec2_subnet2_eni_tags_attacker_async

- name: Ensure Subnet2 ENI Tags async snort (SECURITY MODE)
  amazon.aws.ec2_tag:
    region: "{{ ec2_region }}"
    resource: "{{ item[1]['interface']['id'] }}"
    state: present
    tags:
      Name: "{{ ec2_name_prefix }}-student{{item[0] + 1}}-snort-eni2"
      Username: "{{ aws_user }}"
      Info: "Username that provisioned this-> {{ aws_user }}"
      Linklight: "This was provisioned through the linklight provisioner"
      Students: "{{student_total|int}}"
      Subnet: '{{ ec2_name_prefix }}-subnet2'
      Workshop: "{{ec2_name_prefix}}"
      ansible-workshops: "true"
  when: "(item|length|int > 1) and ('interface' in item[1])"
  with_indexed_items:
    - "{{ ('results' in wait_eni2_creation_snort) | ternary(wait_eni2_creation_snort['results'], []) }}"
  async: "{{ async_timeout_seconds }}"
  poll: 0
  register: ec2_subnet2_eni_tags_snort_async

# adam miller method
# - name: Wait for async tag creation to complete (subnet2)
#   async_status:
#     jid: "{{ item['ansible_job_id'] }}"
#   register: wait_for_ec2_tag_creation
#   when: "'ansible_job_id' in item"
#   until: wait_for_ec2_tag_creation.finished
#   retries: "{{ async_wait_for_retries }}"
#   loop: >
#     {{ ('results' in ec2_subnet2_eni_tags_attacker_async) | ternary(ec2_subnet2_eni_tags_attacker_async['results'], []) }}
#     + {{ ('results' in ec2_subnet2_eni_snort_async) | ternary(ec2_subnet2_eni_snort_async['results'], []) }}


# new method by sean cavanaugh
- name: Wait for async tag creation to complete (subnet2)
  async_status:
    jid: "{{ item.results[0].ansible_job_id }}"
  register: wait_for_ec2_tag_creation
  when: "item.results[0].ansible_job_id is defined"
  until: wait_for_ec2_tag_creation.finished
  retries: "{{ [async_wait_for_retries | int, 60] | max }}"
  loop:
    - "{{ ec2_subnet2_eni_tags_attacker_async }}"
    - "{{ ec2_subnet2_eni_snort_async }}"
