## This is needed for sshpass
- name: Install EPEL
  yum:
    name: "https://dl.fedoraproject.org/pub/epel/epel-release-latest-{{ ansible_distribution_major_version }}.noarch.rpm"
    state: present

- name: Install base packages
  yum:
    name:
      - vim
      - git
      - wget
      - nano
      - tree
      - sshpass
      - tmux
      - python-pip
      - ansible
      - python-netaddr
    state: latest

- name: block for f5workshop
  block:
    - name: install f5 workshop dependicies
      become: yes
      pip:
        name:
          - pip
          - setuptools
          - pysnow
        state: latest

    - name: install f5 workshop dependicies
      become: yes
      pip:
        name:
          - f5-sdk
          - bigsuds
          - netaddr
        state: latest
  when: f5workshop

- name: Install ansible.cfg and vimrc in home directory
  template:
    src: ansible.cfg.j2
    dest: "/home/{{ username }}/.ansible.cfg"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: Install vimrc in home directory
  template:
    src: vimrc.j2
    dest: "/home/{{ username }}/.vimrc"
    owner: "{{ username }}"
    group: "{{ username }}"

- name: networking mode - setup control node
  include_tasks: "networking.yml"
  when: networking

- name: f5 mode - setup control node
  include_tasks: "networking.yml"
  when: f5workshop

- name: engine (essentials) mode - setup control node
  include_tasks: "engine.yml"
  when:
    - not networking
    - not f5workshop

- name: check to see if ansible tower is already up and running
  uri:
    url: https://localhost/api/v2/ping/
    method: GET
    user: admin
    password: "{{admin_password}}"
    validate_certs: False
  register: check_tower
  ignore_errors: yes
  when:
    - ansible_os_family == 'RedHat'
    - towerinstall is defined
    - towerinstall

- name: install tower if knob is set
  include_tasks: "tower.yml"
  when:
    - ansible_os_family == 'RedHat'
    - towerinstall is defined
    - towerinstall
    - check_tower is failed

- name: Ensure eula is accepted if posting license
  lineinfile:
    path: "{{playbook_dir}}/tower_license.json"
    line: '    "eula_accepted": true,'
    insertbefore: '"company_name"'
    state: present
  delegate_to: localhost
  run_once: true
  become: no
  when:
    - autolicense is defined
    - autolicense

- name: Post license key
  uri:
    url: https://{{ansible_host}}/api/v2/config/
    method: POST
    user: admin
    password: "{{admin_password}}"
    body: "{{ lookup('file',playbook_dir+'/tower_license.json') }}"
    body_format: json
    validate_certs: False
    force_basic_auth: yes
  when:
    - autolicense is defined
    - autolicense

- name: INSTALL VSCODE AND XRDP
  include_tasks: gui.yml
  when: xrdp
