---
- name: Download Ansible Tower
  get_url:
    url: '{{ tower_installer_url | default("https://releases.ansible.com/ansible-tower/setup/ansible-tower-setup-3.6.4-1.tar.gz") }}'
    dest: /tmp/tower.tar.gz

- name: Create directory for Ansible Tower
  file: path=/tmp/tower_install state=directory

- name: Extract Ansible Tower install
  unarchive:
    src: /tmp/tower.tar.gz
    dest: /tmp/tower_install
    remote_src: true
    extra_opts: ['--strip-components=1', '--show-stored-names']

- name: template inventory file for Ansible Tower Install
  template:
    src: tower_install.j2
    dest: /tmp/tower_install/inventory

- name: run the Ansible Tower installer
  shell: ./setup.sh
  args:
    chdir: /tmp/tower_install
  async: 1400
  poll: 15

- name: wait for Ansible Tower to be up
  uri:
    url: https://localhost/api/v2/ping/
    method: GET
    user: admin
    password: "{{admin_password}}"
    validate_certs: false
  register: check2
  until: check2.json is defined
  retries: 10
  delay: 30

- name: Display /api/v2/ping results
  debug:
    msg: '{{ check2.json }}'

- name: install ansible-tower-cli and requests
  become: true
  pip:
    name:
      - ansible-tower-cli
      - "requests==2.6.0"
    state: latest

# This is documented here: https://docs.ansible.com/ansible-tower/latest/html/upgrade-migration-guide/virtualenv.html#preparing-a-new-custom-virtualenv
- name: Create directory for custom venvs
  file:
    path: /opt/my-envs
    state: directory
    mode: '0755'

- name: specify in Tower which directory to look for custom venvs
  uri:
    url: https://localhost/api/v2/settings/system/
    method: PATCH
    user: admin
    password: "{{admin_password}}"
    validate_certs: false
    force_basic_auth: true
    body_format: json
    body: '{"CUSTOM_VENV_PATHS": ["/opt/my-envs/"]}'
    status_code:
      - 200

- name: Install virtualenv via pip
  pip:
    name: virtualenv
    executable: pip3

- name: install ansible development branch to venv
  pip:
    name:
      - git+https://github.com/ansible/ansible.git@devel
      - psutil
      - paramiko
      - ncclient
    virtualenv: /opt/my-envs/ansible_dev
    virtualenv_command: /usr/local/bin/virtualenv

- name: add student user
  tower_user:
    username: "{{ username }}"
    password: "{{ admin_password }}"
    email: fake@fake.com
    state: present
    superuser: true
    tower_username: admin
    tower_password: "{{ admin_password }}"
    tower_host: "{{ ansible_host }}"
    tower_verify_ssl: false

- name: Ensure eula is accepted if posting license
  command: python -c "import json; license = json.loads(open('{{playbook_dir}}/tower_license.json', 'r').read()); ceula = license.get('eula_accepted'); license['eula_accepted'] = True if not ceula else ceula ; open('{{playbook_dir}}/tower_license.json', 'w').write(json.dumps(license));"
  delegate_to: localhost
  run_once: true
  become: false

- name: Post license key
  uri:
    url: https://{{ansible_host}}/api/v2/config/
    method: POST
    user: admin
    password: "{{admin_password}}"
    body: "{{ lookup('file',playbook_dir+'/tower_license.json') }}"
    body_format: json
    validate_certs: false
    force_basic_auth: true
