- name: Download Ansible Tower
  get_url:
    url: '{{ tower_installer_url | default("https://releases.ansible.com/ansible-tower/setup/ansible-tower-setup-3.5.3-1.tar.gz") }}'
    dest: /tmp/tower.tar.gz

- name: Create directory for Ansible Tower
  file: path=/tmp/tower_install state=directory

- name: Extract Ansible Tower install
  unarchive:
    src: /tmp/tower.tar.gz
    dest: /tmp/tower_install
    remote_src: yes
    extra_opts: ['--strip-components=1', '--show-stored-names']

- name: template inventory file for Ansible Tower Install
  template:
    src: tower_install.j2
    dest: /tmp/tower_install/inventory

- copy:
    dest: /tmp/tower_install/extras-vars.yml
    content: |
      redhat_aws_rhui_repos: {{ redhat_aws_rhui_repos | to_yaml }}

- name: run the Ansible Tower installer
  shell: ./setup.sh -e @extras-vars.yml
  args:
    chdir: /tmp/tower_install
  async: 900
  poll: 10

- name: install ansible-tower-cli and requests
  become: yes
  pip:
    name:
      - ansible-tower-cli
      - "requests==2.6.0"
    state: latest

- name: wait for Ansible Tower to be up
  uri:
    url: https://localhost/api/v2/ping/
    method: GET
    user: admin
    password: "{{admin_password}}"
    validate_certs: False
  register: check2
  until: check2.json is defined
  retries: 10
  delay: 30

- name: Display /api/v2/ping results
  debug:
    msg: '{{ check2.json }}'

# This is documented here: https://docs.ansible.com/ansible-tower/latest/html/upgrade-migration-guide/virtualenv.html#preparing-a-new-custom-virtualenv
- name: Create directory for custom venvs
  file:
    path: /opt/my-envs
    state: directory
    mode: '0755'

- name: specify in Tower which directory to look for custom venvs
  uri:
    url: https://localhost/api/v2/settings/system/
    method: PATCH
    user: admin
    password: "{{admin_password}}"
    validate_certs: False
    force_basic_auth: yes
    body_format: json
    body: '{"CUSTOM_VENV_PATHS": ["/opt/my-envs/"]}'
    status_code:
      - 200

- name: install ansible development branch to venv
  become: yes
  pip:
    name:
      - git+https://github.com/ansible/ansible.git@devel
      - psutil
      - paramiko
      - ncclient
    virtualenv: /opt/my-envs/ansible_dev
